<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords"
          content="<% page.tags?.forEach(function(item) { %> <%= item.name %>,<% }); %> <%= page?.keywords || config?.keywords || 'cmdragon’s Blog' %>">
    <meta name="description" content="<%= page?.excerpt || config?.description || 'cmdragon’s Blog' %>">
    <meta name="author" content="<%= theme?.base_info?.author || config?.author || 'cmdragon' %>">

    <link rel="alternate" type="application/atom+xml" href="https://blog.cmdragon.cn/atom.xml">
    <link rel="alternate" type="application/rss+xml" href="https://blog.cmdragon.cn/sitemap.xml">


    <meta property="og:url" content="<%= url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= __(page.title) || 'Welcome' %> - cmdragon’s Blog">
    <meta property="og:description"
          content="<%= __(page.title) || 'Welcome' %>, <%= page?.excerpt || config?.description || 'cmdragon’s Blog' %>">
    <meta property="og:image" content="https://api.btstu.cn/sjbz/api.php">

    <meta name="twitter:card" content="https://api.btstu.cn/sjbz/api.php">
    <meta property="twitter:domain" content="cmdragon.cn">
    <meta property="twitter:url" content="<%= url %>">
    <meta name="twitter:title" content="<%= __(page.title) || 'Welcome' %> - cmdragon’s Blog">
    <meta name="twitter:description"
          content="<%= __(page.title) || 'Welcome' %>, <%= page?.excerpt || config?.description || 'cmdragon’s Blog' %>">
    <meta name="twitter:image" content="https://api.btstu.cn/sjbz/api.php">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="<%= url %>">
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both
      }

      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden
        }
        to {
          visibility: visible
        }
      }

      @-moz-keyframes -amp-start {
        from {
          visibility: hidden
        }
        to {
          visibility: visible
        }
      }

      @-ms-keyframes -amp-start {
        from {
          visibility: hidden
        }
        to {
          visibility: visible
        }
      }

      @-o-keyframes -amp-start {
        from {
          visibility: hidden
        }
        to {
          visibility: visible
        }
      }

      @keyframes -amp-start {
        from {
          visibility: hidden
        }
        to {
          visibility: visible
        }
      }</style>
    <noscript>
        <style amp-boilerplate>
          body {
            -webkit-animation: none;
            -moz-animation: none;
            -ms-animation: none;
            animation: none
          }</style>
    </noscript>


    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () {
          (c[a].q = c[a].q || []).push(arguments)
        };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "mmt9qkvlod");
    </script>


    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id: "3IdZIMuyj5mvN0Fz", ck: "3IdZIMuyj5mvN0Fz"})</script>


    <meta name="baidu-site-verification" content="codeva-1e6idrc8FW"/>
    <script>
      (function () {
        var canonicalURL, curProtocol;
        //Get the <link> tag
        var x = document.getElementsByTagName("link");
        //Find the last canonical URL
        if (x.length > 0) {
          for (i = 0; i < x.length; i++) {
            if (x[i].rel.toLowerCase() == 'canonical' && x[i].href) {
              canonicalURL = x[i].href;
            }
          }
        }
        //Get protocol
        if (!canonicalURL) {
          curProtocol = window.location.protocol.split(':')[0];
        } else {
          curProtocol = canonicalURL.split(':')[0];
        }
        //Get current URL if the canonical URL does not exist
        if (!canonicalURL) canonicalURL = window.location.href;
        //Assign script content. Replace current URL with the canonical URL
        !function () {
          var e = /([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi, r = canonicalURL, t = document.referrer;
          if (!e.test(r)) {
            var n = (String(curProtocol).toLowerCase() === 'https') ? "https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif" : "//api.share.baidu.com/s.gif";
            t ? (n += "?r=" + encodeURIComponent(document.referrer), r && (n += "&l=" + r)) : r && (n += "?l=" + r);
            var i = new Image;
            i.src = n
          }
        }(window);
      })();
    </script>

    <%
    let title = page.title;
    if (is_archive()) {
        title = __('archive');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    } else {
        title = __(page.title);
    }
    %>
    <title>
        <% if (title) { %>
            <%= title %> |
        <% } %>
        <%= theme?.base_info?.title || config?.title || 'cmdragon’s Blog' %>
    </title>


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "NewsArticle",
            "headline": "<%= __(page.title) || 'Welcome' %> - cmdragon’s Blog",
            "image": [
                "https://api.btstu.cn/sjbz/api.php",
                "https://t.alcy.cc/mp/",
                "https://img.xjh.me/random_img.php"
            ],
            "datePublished": "<%= page.date || '2024-01-05T08:00:00+08:00' %>",
            "dateModified": "<%= page.updated || '2024-01-05T08:00:00+08:00' %>",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": 9.5,
                "bestRating": "10",
                "ratingCount": 526
            },
            "publisher":
              {
                    "@type": "Person",
                    "name": "cmdragon",
                    "url": "https://github.com/Amd794"
              },
            "author": [
                {
                    "@type": "Person",
                    "name": "cmdragon",
                    "url": "https://cmdragon.cn/"
                },
                {
                    "@type": "Person",
                    "name": "amd794",
                    "url": "https://github.com/Amd794"
                }
            ]
        }
    </script>

    <script>
      (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
      })();
    </script>

    <%- css('css/style') %>
    <% if (theme?.base_info?.favicon) { %>
        <%- favicon_tag(theme?.base_info?.favicon) %>
    <% } %>
    <%- __css('font/css/fontawesome.min.css') %>
    <%- __css('font/css/regular.min.css') %>
    <%- __css('font/css/solid.min.css') %>
    <%- __css('font/css/brands.min.css') %>
    <% if (theme?.inject?.enable === true) { %>
        <% theme?.inject?.css?.forEach((css_path) => { %>
            <% if (css_path && isCssFile(css_path)) { %>
                <%- css(css_path) %>
            <% } %>
        <% }) %>
    <% } %>
    <%- exportThemeConfig() %>
</head>

